{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="{% static 'quiz/img/favicon.ico' %}" type="image/x-icon">
	<link rel = "stylesheet" href = "{% static 'quiz/css/quiz.css' %}">
	<title>Home</title>
</head>
<body>
	<div id = "container">
		<!-- <a class = "button" href = "/login"> Let's Get Started </a> -->
		<a class = "button" href = "/questions">Let's Get Started</a>
		<img src = "{% static 'quiz/img/frontlineimage.jpg' %}" style = "width: 875px;">
	</div>
</body>
</html>