{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="{% static 'quiz/img/favicon.ico' %}" type="image/x-icon">
	<title>Quiz Application</title>
	<link rel = "stylesheet" href = "{% static 'quiz/css/quiz.css' %}">
	<script src = "{% static 'quiz/js/quiz.js' %}"></script>
</head>
<body>
	<div id = "container">
		<header>
			<a href="/" class = "button">Let's Get Started</a>
			<h1>W3School: Basic Python Quiz</h1>
		</header>

		<section>
			
			<form name = "quizForm" onsubmit = "return submitAnswers(answers = [{% for q in questions %}'{{ q.answer }}',{% endfor %}])">
			{% for q in questions %}
				<h3> {{ q.id }}.  {{ q.question|safe }}</h3>
				<input type = "radio" name = "q{{ q.id }}" value = "a" id = "q1a">   a. {{ q.option1|safe }}<br><br>
				<input type = "radio" name = "q{{ q.id }}" value = "b" id = "q1b">   b. {{ q.option2|safe }}<br><br>       
				<input type = "radio" name = "q{{ q.id }}" value = "c" id = "q1c">   c. {{ q.option3|safe }}<br><br>
				<input type = "radio" name = "q{{ q.id }}" value = "d" id = "q1d">   d. {{ q.option4|safe }}<br><br>
			
			{% endfor %}

				<br><br>
				<input type = "submit" value = "Submit Answer">
			</form>
			<br><br>
			<div id = "warning"></div>
			<div id = "results"></div>


		<a href="/" class="button">Reset</a>
		</section>
		<footer>
			<p>&copy;2021. All rights reserved.</p>
		</footer>
	</div>

</body>
</html>